.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.steps-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto 40px;
}

.ps-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 40px;
    align-items: center;
}
